:root{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%; /* sets 1rem = 10px */
    background-color: var(--very-light-gray);
    font-family: "Poppins", sans-serif;
}

main{
    margin: 6rem 2rem 5rem 2rem;
}

header{
    margin-bottom: 4.5rem;
}

h1{
    text-align: center;
    font-weight: 200;
    font-size: 1.5rem;
    color: var(--very-dark-blue);
    margin-bottom: 1rem;
}

h1 > span {
    font-weight: 600;
    display: block;
}

p{
    color: var(--grayish-blue);
}

header p{
    text-align: center;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.6rem;
}

h2{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.section-container{
    display: grid;
    grid-template-rows: repeat(4 1fr);
    row-gap: 1.4rem;
}

section{
    border-radius: 5px;
    min-height: 14rem;
    box-shadow: 0 0.8rem 1rem 0rem hsla(229, 40%, 66%, 35%);
    padding: 1.4rem 1.7rem 1rem 1.7rem;
    background-repeat: no-repeat;
    background-size: 3.5rem;
    background-position: 90% 85%;
}

section p{
    font-size: 0.8rem;
}

.supervisor{
    border-top: 4px solid var(--cyan);
    background-image: url("images/icon-supervisor.svg");
    
}

.team-builder{
    border-top: 4px solid var(--red);
    background-image: url("images/icon-team-builder.svg");
}

.karma{
    border-top: 4px solid var(--orange);
    background-image: url("images/icon-karma.svg");
}

.calculator{
    border-top: 4px solid var(--blue);
    background-image: url("images/icon-calculator.svg");
}


footer{
    margin-bottom: 1rem;
}

.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* Breakpoint */

@media only screen and (min-width: 530px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    main{
        max-width: 500px;
    }
}

/* Desktop & Tablet */
@media only screen and (min-width: 800px){
    main{
        margin: 5rem 5rem 5rem 5rem;
        max-width: none;
    }
    
    header{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3.6rem;
    }

    h1{
        font-size: 2rem;
    }

    .section-container{
        grid-auto-columns: 1fr;
        grid-template-areas: 
          'one two four'
          'one three four';
        gap: 1.7rem;
    }

    section{
        background-size: 3rem;
    }

    section p{
        line-height: 1.5rem;
    }

    .supervisor{
        grid-area: one;
        margin: auto 0;
    }

    .team-builder{
        grid-area: two;
    }

    .karma{
        grid-area: three;
    }

    .calculator{
        grid-area: four;
        margin: auto 0;
    }
}

@media only screen and (min-width: 1235px){
    h1{
        font-size: 2.3rem;
    }
}

@media only screen and (min-width: 1080px){
    main{
        margin: 5rem 10.6rem 5rem 10.6rem;;
        max-width: 1108px;
    }

    section{
        min-height: 15.8rem;
        padding: 1.7rem 1.8rem 1rem 1.8rem;
        background-size: 4rem;
        background-position: 88% 80%;
    }
}